{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About Us</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum finibus felis ut consequat. Quisque id justo et nisl lacinia consectetur. In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam at augue eleifend, viverra elit sed, bibendum arcu. Curabitur euismod, quam sit amet volutpat cursus, tellus ex efficitur sapien, nec volutpat massa sem in leo.</p>
    <p>Praesent interdum, quam nec tincidunt aliquet, arcu enim gravida mi, ac tincidunt lacus neque id dui. Curabitur posuere blandit nisi sed varius. Fusce ac ligula id turpis scelerisque cursus. Sed at iaculis massa, id bibendum orci. Aliquam erat volutpat. Pellentesque nec nibh sit amet tellus tempor semper nec et quam. Sed iaculis consectetur purus non dapibus. Nunc at lacus velit. Pellentesque ut diam massa. Ut in elit a purus laoreet dignissim nec ac massa. Sed iaculis viverra bibendum. Nam dapibus diam in diam lacinia, et aliquet sem eleifend. Etiam ut semper est, id rhoncus turpis.</p>
    <p>Nulla ultricies hendrerit nulla, non vulputate ipsum malesuada ut. Nam sed nisl at elit tristique rutrum. Etiam varius ante id purus tempus, non gravida leo ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris iaculis varius leo, id tincidunt ex luctus ac. Morbi at congue mi, vitae congue arcu. Phasellus gravida dui in faucibus pharetra.</p>
</div>
{% endblock %}
