{% extends 'base.html' %}

{% block content %}
  <div class="container">
    {% set displayed_customers = [] %}

    {% for guitar in guitars %}
      {% if guitar.customer not in displayed_customers %}
        <div class="card bg-light mb-4">
          <div class="card-body">
            <h1 class="card-title">{{ guitar.customer.firstname }} {{ guitar.customer.lastname }}</h1>
          </div>
        </div>
        {% set _ = displayed_customers.append(guitar.customer) %}
      {% endif %}

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ guitar.brand }} {{ guitar.model }} {{ guitar.serial_number }}</h5>
          <p class="card-text">{{ guitar.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
